.calendar-container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  border: 3px solid red;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70em;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  margin-top: 10px;
  border: 3px solid blue;
  width: 70em;
  height: 70em;
}

.calendar-day-name,
.calendar-day {
  padding: 10px;
  border: 1px solid #ccc;
  min-height: 40px;
}
